
body {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
    padding-left: 1em;
    padding-right: 1em;
}

.footnote{
    font-size: 70%;
}

.center {
    text-align: center;
}