h1{
    color: rgb(0,0,0);
}

body {
    /* background-color: rgb(200,200,200); */
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
    margin-bottom: 5%;
}

.languages-menu-down{
    font-size: 75%;
    text-align: right;
}

.languages-menu-down a{
    margin-left: 0.5em;
    color: rgb(100,100,100);
}

.languages-menu-up{
    font-size: initial;
    text-align: right;
}

.languages-menu-up a{
    margin-left: 0.5em;
    color: rgb(100,100,200);
}



.blog-title{
    text-align: center;
    /* background-color: rgb(250,50,50); */
    font-weight: bold;
    margin-top: 5%;
    font-size: 200%;
}

.post-title{
    text-align: center;
    margin-top: 5%;
    /* background-color: rgb(250,50,50); */
    font-weight: bold;
    font-size: 200%;
}


.posts_summary_container{
    margin-top: -1em;
    /* background-color: rgb(240,240,240);     */
}

.posts_summary_container hr{
    color:  rgb(0,0,0) ;    
}

.static-pages-menu {
    text-align: center;    
}

.static-pages-menu a{
    color: rgb(0,0,0);
    margin-left: 1em;
    text-decoration: none;
}



.list_posts_summary_container{    
    list-style-type: none;
    padding-top: 1em;   
}

.list_posts_summary_container{
    font-size: 150%;
}

.list_posts_summary_container a{
    color: rgb(50,50,50);
    text-decoration: none;
}

.list_posts_summary_container li{    
    margin: 0 0 0.5em 0;
}



.post_date{
    font-size: 70%;
    color: rgb(100,100,00);		   
}

.navigation-buttons{
    text-align: center;
    font-size: xx-large;
}

.navigation-buttons a{
    text-decoration: none;
    color: rgb(200,100,100);
}



.top-border{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border-top: 10px solid black;
    width: 100%;
}

.bottom-border{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 10px solid black;
    width: 100%;
}

.left-border{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    border-left: 10px solid black;
    height: 100%;
}

.right-border{
    position: fixed;
    top:0;
    bottom: 0;
    right:0;
    border-left: 10px solid black;
    height: 100%;
}
